@import "variables";

/* HEADER */
.header {
  background-color: $primary-color;

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    .logo-name {
      width: 80px;
      margin-left: -10px;
    }

    .list {
      display: flex;
      gap: 30px;

      a {
        font-size: 1.8rem;
        font-weight: 600;
        color: $heading-color;
        padding: 12px 8px;

        &:hover {
          opacity: 0.5;
        }
      }

      .cart {
        position: relative;
      }
    }
  }

  .action-link {
    margin-right: 10px;
    font-weight: 500;
    font-size: 1.6rem;
    color: $heading-color;
  }
}

.fixed-header {
  position: sticky;
  top: -10px;
  z-index: 1;
  border-bottom: 1px solid black;
}
