<footer class="footer">
  <div class="content">
    <div class="row row-top">
      <!-- Product column -->
      <div class="column">
        <h3 class="heading">PRODUCTS</h3>
        <ul class="list">
          <li class="item">
            <a href="#!">Listing</a>
          </li>
          <li class="item">
            <a href="#!">Property</a>
          </li>
          <li class="item">
            <a href="#!">Agents</a>
          </li>
          <li class="item">
            <a href="#!">Blog</a>
          </li>
        </ul>
      </div>

      <!-- Resources column -->
      <div class="column">
        <h3 class="heading">RESOURCES</h3>
        <ul class="list">
          <li class="item">
            <a href="#!">Our Homes</a>
          </li>
          <li class="item">
            <a href="#!">Member Stories</a>
          </li>
          <li class="item">
            <a href="#!">Video</a>
          </li>
          <li class="item">
            <a href="#!">Free trial</a>
          </li>
        </ul>
      </div>

      <!-- Company column -->
      <div class="column">
        <h3 class="heading">COMPANY</h3>
        <ul class="list">
          <li class="item">
            <a href="#!">Partnerships</a>
          </li>
          <li class="item">
            <a href="#!">Terms of use</a>
          </li>
          <li class="item">
            <a href="#!">Privacy</a>
          </li>
          <li class="item">
            <a href="#!">Sitemap</a>
          </li>
        </ul>
      </div>

      <!-- Get in touch column -->
      <div class="column">
        <h3 class="heading">GET IN TOUCH</h3>
        <p class="desc">
          You’ll find your next home, in any style you prefer.
        </p>
        <div class="social">
          <a class="social-link" href="#!">
            <img alt="" src="/assets/img/facebook.svg" />
          </a>
          <a class="social-link" href="#!">
            <img alt="" src="assets/icon/twitter.svg" />
          </a>
        </div>
      </div>
    </div>

    <div class="row row-bottom">
      <div class="logo-block">
        <img alt="Digg." class="logo" src="/assets/img/sneaker-logo.svg" />
        <img
          alt="Logo Name"
          class="logo-name"
          src="/assets/img/sneaker-shoes.svg"
        />
      </div>
      <p class="copyright">Copyright 2024.com, All rights reserved.</p>
    </div>
  </div>
</footer>