<header class="header fixed-header">
  <!-- HEADER -->
  <div class="content">
    <nav class="nav-bar">
      <a href="#">
        <img
            alt="Sneaker Logo"
            class="logo"
            src="/assets/img/sneaker-logo.svg"
        />
        <img
            alt="Sneaker Shoes"
            class="logo-name"
            src="/assets/img/sneaker-shoes.svg"
        />
      </a>

      <ul class="list">
        <li>
          {{#if user}}
            <a href="/me">HOME</a>
          {{else}}
            <a href="/">HOME</a>
          {{/if}}
        </li>
        <li>
          <a href="#!">ABOUT US</a>
        </li>
        <li>
          <a href="#!">PRODUCTS</a>
        </li>
        <li>
          <a class="cart" href="/me/cart">
            MY CART
          </a>
        </li>
      </ul>

      <div class="actions">
        {{#if user}}
          <span class="action-link">Welcome, {{user.email}}</span>
          <a class="btn" href="/user/logout">Log out</a>
        {{else}}
          <a class="action-link" href="/user/sign-in">Sign in</a>
          <a class="btn" href="/user/sign-up">Sign up</a>
        {{/if}}
      </div>
    </nav>
  </div>
</header>