<!-- HERO -->
<div class="hero-wrap">
  <div class="content">
    <div class="body">
      <div class="info-block">
        <h1 class="title">Elevate Your Style with Premium Sneakers</h1>
        <p class="desc">
          Discover the perfect blend of comfort, performance, and style with our
          exclusive collection. Designed for athletes and enthusiasts alike.
          Shop now and step into excellence!
        </p>
        <a class="btn hero-cta" href="/">Shop Now </a>
      </div>

      <div class="hero-block">
        <img alt="Hero Image" class="hero" src="/assets/img/hero-image.jpg"/>
      </div>
    </div>
  </div>

  <div class="brand-logo">
    <img alt="Brand Logo" src="/assets/img/brand-logo.svg"/>
  </div>
</div>

<!-- BRAND -->
<div class="brand">
  <div class="content">
    <div class="row">
      <img
          alt="Sneaker Logo"
          class="sneaker-logo"
          src="/assets/img/sneaker-shoes.svg"
      />

      <div class="stars">
        <img alt="Star" class="star" src="assets/icon/star.svg"/>
        <img alt="Star" class="star" src="assets/icon/star.svg"/>
        <img alt="Star" class="star" src="assets/icon/star.svg"/>
        <img alt="Star" class="star" src="assets/icon/star.svg"/>
        <img alt="Star" class="star" src="assets/icon/star.svg"/>
      </div>
    </div>

    <div class="row-desc">
      <p class="desc">
        More than 200+ brands trust
        <strong>Digg.</strong>
      </p>
      <p class="desc">5 Star Ratings (1k+ Reviews)</p>
    </div>

    <div class="images">
      <a href="#!">
        <img alt="Brand 1" src="/assets/img/brand1.svg"/>
      </a>
      <a href="#!">
        <img alt="Brand 2" src="/assets/img/brand2.svg"/>
      </a>
      <a href="#!">
        <img alt="Brand 3" src="/assets/img/brand3.svg"/>
      </a>
      <a href="#!">
        <img alt="Brand 4" src="/assets/img/brand4.svg"/>
      </a>
      <a href="#!">
        <img alt="Brand 5" src="/assets/img/brand5.svg"/>
      </a>
    </div>
  </div>
</div>

<!-- STATS-->
<div class="stats">
  <div class="content">
    <h2 class="title">You’ve Discovered Sneaker Heaven!</h2>
    <p class="desc">
      Find your perfect style from our vast collection. Our survey shows most
      shoppers prioritize unique and exclusive designs.
    </p>

    <div class="row row-qty">
      <div class="qty-item">
        <strong class="qty">200+</strong>
        <p class="qty-desc">Sneakers For Sale</p>
      </div>

      <div class="qty-item">
        <strong class="qty">1,000+</strong>
        <p class="qty-desc">Sneakers Recently Sold</p>
      </div>
      <div class="qty-item">
        <strong class="qty">100+</strong>
        <p class="qty-desc">Price Reduced</p>
      </div>
    </div>
  </div>
</div>

<!-- PRODUCTS -->
<div class="products">
  <div class="content">
    <header>
      <h2 class="title">Shop Our Latest Drops!</h2>
      <p class="desc">
        Step into the latest styles with our newest sneaker collection.
      </p>
    </header>

    <div class="item-list">
      {{#each shoes}}
        <div class="item">
          <img alt="Adidas Trea" class="thumb" src="/assets/img/sneaker{{this.imageId}}.png"/>
          <div class="body">
            <h3 class="title line-clamp">
              <a href="#!">{{this.name}}</a>
            </h3>
            <p class="desc price">{{this.price}} VND</p>

            <div class="rating">
              <div class="stars">
                <img
                    alt="Rating Star"
                    class="star"
                    src="/assets/icon/star.svg"
                />
                <img
                    alt="Rating Star"
                    class="star"
                    src="/assets/icon/star.svg"
                />
                <img
                    alt="Rating Star"
                    class="star"
                    src="/assets/icon/star.svg"
                />
                <img
                    alt="Rating Star"
                    class="star"
                    src="/assets/icon/star.svg"
                />
                <img
                    alt="Rating Star"
                    class="star"
                    src="/assets/icon/star.svg"
                />
              </div>
              <p class="desc">({{this.stars}})</p>
            </div>
            <div class="btn product-cta">ADD TO CART</div>
          </div>
        </div>
      {{/each}}
    </div>

    <a class="link" href="#!">
      <span>Discover more sneakers</span>
      <img alt="Right Arrow" class="arrow" src="assets/icon/arrow-right.svg"/>
    </a>
  </div>
</div>

<!-- SUBSCRIPTION-->
<div class="subscription">
  <div class="content">
    <div class="body">
      <div class="info">
        <h2 class="title">You Spend, You Earn</h2>
        <p class="desc">
          Ultimate Rewards. Sign in or join now to earn points with every
          purchase for valuable gifts.
        </p>
        <div class="btn sub-cta">JOIN NOW</div>
      </div>

      <img alt="Sub-Image" class="sub-image" src="/assets/img/sub-hero.jpg"/>
    </div>
  </div>
</div>