<div class="sign-up-block">
  <div class="content">
    <div class="info-block">
      <div class="logo-block">
        <img alt="Digg." class="logo" src="/assets/img/sneaker-logo.png"/>
        <img
            alt="Digg."
            class="logo-name"
            src="/assets/img/sneaker-shoes.png"
        />
      </div>
      <h1 class="heading">
        Step Into Style with
        <strong>Exclusive Sneakers!</strong>
      </h1>
      <p class="desc">
        Join our community and elevate your footwear. Sign in now to explore and
        shop the freshest kicks.
      </p>

      <img alt="Sneaker" class="hero" src="/assets/img/sign-in-hero.png"/>
    </div>

    <div class="form-block">
      <h2 class="sub-heading">Join Us,</h2>
      <p class="sub-desc">
        Create an account and start exploring the freshest kicks today!
      </p>

      <!-- FORM -->
      <form
          action=""
          autocomplete="off"
          class="sign-up-form"
          id="sign-up-form"
          method="POST"
      >
        <div class="form-group">
          <label for="name">
            <input
                class="form-control"
                id="name"
                name="name"
                placeholder="Enter your full name"
                type="text"
            />
          </label>
          <span class="form-message"></span>
        </div>

        <div class="form-group">
          <label for="email">
            <input
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter your email"
                type="text"
            />
          </label>
          <span class="form-message"></span>
        </div>

        <div class="form-group">
          <label for="password">
            <input
                class="form-control"
                id="password"
                name="password"
                placeholder="Enter your password"
                type="password"
            />
          </label>
          <span class="form-message"></span>
          <!--5 < length < 15, at least 1 cap 1 num, no special-->
        </div>

        <div class="form-group">
          <label for="password-confirmation">
            <input
                class="form-control"
                id="password-confirmation"
                placeholder="Confirm your password"
                type="password"
            />
          </label>
          <span class="form-message"></span>
        </div>

        <button class="submit-btn" type="submit">CREATE ACCOUNT</button>

        <div class="form-group">
          <p class="sign-in-option">
            Already have an account?
            <a href="/user/sign-in">Sign In</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.querySelector("#sign-up-form");
    const emailInput = document.querySelector("#email");

    emailInput.addEventListener("input", function () {
      const emailValue = emailInput.value;

      if (emailValue) {
        const encodedEmail = encodeURIComponent(emailValue);
        form.action = `/user/${encodedEmail}/store`;
      }
    })
  })
</script>

<script src="/scripts/Validator.js"></script>
<script>
  Validator({
    form: "#sign-up-form",
    formGroupSelectors: ".form-group",
    errorSelector: ".form-message",
    rules: [
      Validator.isRequired("#name", "Please fill in your full name!"),
      // Validator.isEmail("#email"),
      Validator.isRequired("#password"),
      // Validator.minLength("#password", 6),
      Validator.isRequired("#password-confirmation"),
      Validator.isConfirmed(
          "#password-confirmation",
          function () {
            return document.querySelector("#sign-up-form #password").value;
          },
          "Password does not match!",
      ),
    ],
    onSubmit: undefined,
    // function(data) {
    //   console.log(data);
    // }
  })
</script>