<!doctype html>
<html lang="en">
<head>
  {{> headTag}}

  <link href="/css/reset.css" rel="stylesheet"/>
  {{#each styles}}
    <link href="/css/{{this}}" rel="stylesheet"/>
  {{/each}}
  <title>{{title}}</title>
</head>
<body>
  <header class="header fixed-header">
    {{> header}}
  </header>

  <main>
    {{{body}}}
  </main>

  <footer class="footer">
    {{> footer}}
  </footer>
</body>
</html>
