<div class="content">
  <section class="cart-container">
    <h2 class="title">Peek at Your Kicks in the Cart!</h2>

    <!-- Item 1 -->
    <div class="cart-list">
      <div class="cart-item">
        <label>
          <input class="checkbox" name="input" type="checkbox"/>
        </label>
        <img
            alt="Item Thumb"
            class="thumb"
            src="/assets/img/sneaker1.png"
        />
        <div class="item-name">ADIDAS TREA UNLIMITED WHITE</div>
        <div class="item-price">1,800,000 VND</div>
        <div class="qty">1</div>
        <img
            alt="Delete Icon"
            class="delete"
            src="/assets/icon/delete-icon.svg"
        />
      </div>

      <!--  Item 2 -->
      <div class="cart-item">
        <label>
          <input class="checkbox" name="input" type="checkbox"/>
        </label>
        <img
            alt="Item Thumb"
            class="thumb"
            src="/assets/img/sneaker1.png"
        />
        <div class="item-name">ADIDAS TREA UNLIMITED WHITE</div>
        <div class="item-price">1,800,000 VND</div>
        <div class="qty">1</div>
        <img
            alt="Delete Icon"
            class="delete"
            src="/assets/icon/delete-icon.svg"
        />
      </div>

      <!--  Item 3 -->
      <div class="cart-item">
        <label>
          <input class="checkbox" name="input" type="checkbox"/>
        </label>
        <img
            alt="Item Thumb"
            class="thumb"
            src="/assets/img/sneaker1.png"
        />
        <div class="item-name">ADIDAS TREA UNLIMITED WHITE</div>
        <div class="item-price">1,800,000 VND</div>
        <div class="qty">1</div>
        <img
            alt="Delete Icon"
            class="delete"
            src="/assets/icon/delete-icon.svg"
        />
      </div>
    </div>
  </section>
</div>
<div class="checkout">
  <div class="content">
    <div class="checkout-wrap">
      <div class="btn">CHECK OUT</div>
    </div>
  </div>
</div>